{
    "extends": [
        "airbnb",
        "plugin:prettier/recommended"
    ],
    "plugins": [
        "react-hooks"
    ],
    "parserOptions": {
        "ecmaVersion": 2021,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn",
        "prettier/prettier": "off",
        "import/no-extraneous-dependencies": "off",
        "no-console": "off",
        "no-undef": "off",
        "react/jsx-filename-extension": "off",
        "import/no-import-module-exports": "off"
    }
}